@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;

}

body {
    background-color: #232E26;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    display: flex;
    width: 100vw;
    padding: 0px 24px;
    justify-content: center;
    align-items: flex-start;
    border-radius: 40px;
    background-color: #D9EFDE;
}

nav {
    display: flex;
    width: 80vw;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    width: 10vw;
    align-items: flex-start;
}

.navbarmenu {
    display: flex;
    align-items: center;
    gap: 32px;
}

.navbarmenu ul {
    list-style-type: none;
    display: flex;
    align-items: flex-start;

}

.navbarmenu ul li {
    display: inline-block;
    padding: 24px 12px;
}

.navbarmenu ul li a {
    color: #232E26;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

}

.light-btn {
    display: flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 50px;
    border: 1px solid #232E26;
    background-color: #D9EFDE;
    color: #232E26;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.dark-btn {
    display: flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 50px;
    border: 1px solid #232E26;
    background-color: #232E26;
    color: #D9EFDE;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.main {
    display: flex;
    width: 100vw;
    padding: 64px 24px;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
}

.maincontainer {
    display: flex;
    width: 80vw;
    align-items: center;
    gap: 80px;
}

.maincontent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.maincontent h1 {
    color: #D9EFDE;
    font-family: Lato;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.7px;
    align-self: stretch;
}

.maincontent p {
    display: flex;
    width: 33vw;
    align-items: flex-start;
    color: #D9EFDE;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.maincontent button {
    margin-top: 16px;
    font-weight: 600;
    border: 1px solid #D9EFDE;
}

.mainimg {
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.mainimg img {
    display: flex;
    height: 440px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.features {
    display: flex;
    width: 100vw;
    padding: 64px 24px;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    border-radius: 40px;
    background: #D9EFDE;
}

.featurescontainer {
    display: flex;
    width: 80vw;
    align-items: flex-start;
    gap: 80px;
}

.featurescontent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    width: 240px;
}

.featurescontent h6 {
    color: #232E26;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.featurescontent {
    color: #232E26;
    font-family: Lato;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.32px;
}

.features-imgs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 56px;
    align-self: stretch;
}

.features-img-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.image-text {
    display: flex;
    width: 240px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.image-text h6 {
    color: #232E26;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    align-self: stretch;
}

.image-text p {
    color: #232E26;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    align-self: stretch;
}

.testimonial1 {
    display: flex;
    width: 100vw;
    padding: 60px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 220px;
    background-image: url(/assets/images/testimonial1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.testimonial1-container {
    display: flex;
    width: 80vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
}

.quote-wrapper {
    display: flex;
    width: 73vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.quote-wrapper h6 {
    color: #D9EFDE;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.quote-wrapper h1 {
    color: #D9EFDE;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -2px;
}

.quote-wrapper p {
    color: #D9EFDE;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    align-self: stretch;
}

.logo-wrapper p {
    color: #D9EFDE;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.logo-wrapper p span {
    color: #D9EFDE;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.logos {
    display: flex;
    width: 80vw;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.logo-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-stack {
    display: flex;
    width: 100vw;
    padding: 64px 20px 20px 20px;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    border-radius: 40px;
    background-color: #D9EFDE;
}

.small-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.title-section {
    display: flex;
    width: 768px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.title-section h1 {
    color: #232E26;
    text-align: center;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 24px;
}

.testimonial2 {
    display: flex;
    width: 100vw;
    height: 100%;
    padding: 60px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 220px;
    background-image: url(/assets/images/testimonial2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.testimonial2-container {
    display: flex;
    width: 80vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
}

footer {
    display: flex;
    width: 100vw;
    padding: 80px 20px;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.f-columns {
    display: flex;
    width: 80vw;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
}

.f-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
}

.small-columns {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
}

.column-app,
.column-company {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
}

.small-columns h6 {
    color: #D9EFDE;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.footer-links a {
    color: #D9EFDE;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    padding: 8px 0;
    flex: 1 0 0;
}

.email-subscribe {
    display: flex;
    width: 500px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.email-subscribe form {
    display: flex;
    height: 48px;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.email-subscribe form input {
    display: flex;
    padding: 10px 16px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #D9EFDE;
    background: transparent;
    color: rgba(217, 239, 222, 0.90);
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.email-subscribe form button {
    border-radius: 39.622px;
    border: 1px solid #F2F4F8;
    background: #242F27;
    padding: 12px 32px;

}

.email-subscribe p {
    color: #D9EFDE;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: underline;
}

.copyright {
    display: flex;
    width: 80vw;
    padding-top: 32px;
    align-items: center;
    border-top: 1px solid #F2F4F8;
}

.copyright-content {
    display: flex;
    align-items: center;
    gap: 32px;
}

.copyright-content p {
    color: #D9EFDE;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.copyright-links {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    padding: 4px 0;
}

.copyright-links a {
    color: #D9EFDE;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: underline;
}

.social-links {
    display: flex;
    width: 35vw;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 12px;
}